body {
  font-family: sans-serif;
}

body.checklist-visible {
  margin-right: 0 !important;
}

#container {
    display: none;
}

#links {
  padding: 20px;
}

.checklist-off {
  text-align: center;
}

button.activate-checklist {
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
