body.checklist-visible {
  margin-right: 240px !important;
  position: relative;
}

.checklist-component {
  display: none;
}

.checklist-visible .checklist-pane, .checklist-visible .checklist-component.visible {
  display: block;
}

.checklist-pane, .checklist-childpane {
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #eee;
  min-width: 200px;
  width: 0%;
  transition: width .8s ease;
  z-index: 10000;
  overflow-y: auto;
}

.checklist-childpane {
  z-index: 10001;
}

.checklist-pane h1, .checklist-childpane h1 {
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #999;
  padding: 6px 0 6px 0;
  margin: 0 0 6px 0;
}

.checklist-rating {
  display: block;
  margin: 10px auto;
  width: 48px;
  height: 48px;
}

.checklist-rating svg {
  width: 48px;
  height: 48px;
}

.svg-spinner {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.checklist-close-btn {
  position: absolute;
  padding: 0;
  text-align: center;
  top: 10px;
  right: 10px;;
  width: 24px;
  height: 24px;
}

.checklist-indicators span {
  font-weight: bold;
}

.checklist-buttons {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

/* TODO: factoriser .hidden/.visible */
.checklist-statements-group.hidden {
  display: none;
}

.checklist-rejections {
  display: none;
}

.checklist-rejections.visible {
  display: block;
}

.checklist-toggle-open-parent:after {
  content: " \25B6";
  font-size: .9em;
}

.open > .checklist-toggle-open-parent:after {
  content: " \25BC";
}

.checklist-collapsed {
  display: none;
}

.open > .checklist-collapsed {
  display: block;
}

.checklist-statement.hidden {
  display: none;
}

.checklist-hidden-statements {
  display: none;
}

.checklist-hidden-statements.visible {
  display: block;
}

.checklist-marker:before {
  content: attr(data-checklist-marker-name);
  background: #ccc;
}

.checklist-help {
  display: none;
}

.checklist-help.visible {
  display: block;
}
