@import (reference) "vars.less";
@import "animations.less";

// PANE AND COMPONENTS
// ===================

body.checklist-visible {
  position: relative;
}

.checklist-component {
  font-family: @font-sans-serif;
  font-size: 15px;
  display: none;
  cursor: default;

  a {
    color: @link-color;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    color: lighten(@link-color, 15%);
  }
}

.checklist-visible .checklist-pane, .checklist-visible .checklist-component.visible {
  display: block;
}

.checklist-pane, .checklist-childpane {
  width: @pane-width;
  box-sizing: border-box;
  background: @bg-color;
  border-left: 1px solid @border-color;
  z-index: @z-index;
}

.checklist-pane-contents {
  padding: 10px 20px;
}

.checklist-childpane {
  z-index: @z-index + 1;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.checklist-pane h1, .checklist-childpane h1 {
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #999;
  padding: 6px 0 6px 0;
  margin: 0 0 6px 0;
}

.checklist-close-btn {
  position: absolute;
  padding: 0;
  text-align: center;
  top: 10px;
  right: 10px;;
  width: 24px;
  height: 24px;
}

// TOC control in pane
.checklist-toc-control {
  button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4px;
    margin: 6px 0;
  }
}

.checklist-toc-control-info-cache,
button.checklist-toc-rerun,
body.checklist-toc-is-checked button.checklist-toc-run,
body.checklist-toc-has-cached button.checklist-toc-run {
  display: none;
}
body.checklist-toc-has-cached .checklist-toc-control-info-cache,
body.checklist-toc-has-cached button.checklist-toc-rerun,
body.checklist-toc-is-checked button.checklist-toc-rerun {
  display: block;
}

// MENU
// ====

.checklist-main-menu {
  display: flex;
  box-sizing: border-box;
  height: @menu-height;
  border-bottom: @border-color 1px solid;
  background: @bg-color;

  & > div {
    padding: 10px;
  }
}

.checklist-brand {
  flex: 100;

  svg {
    margin-top: @menu-height/2 - 18px;
    height: 18px;
    width: auto;
    fill: #666;
  }
}

.checklist-main-menu-buttons {
  flex: 1;
  text-align: right;
  border-left: @border-color 1px solid;

  button {
    border: none;
    background: transparent;
    padding: 5px;
    margin: 0;
    cursor: pointer;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: #999;
  }

  button:hover svg {
    fill: #666;
  }
}

// TOOLBAR
// =======

.checklist-toolbar {
  display: flex;
  justify-content: flex-center;
  border-bottom: 1px solid @border-color;
}

.checklist-toolbar-button {
  border-left: 1px solid @border-color;
  padding: 8px 12px 4px;
  text-align: center;
  display: inline-block;
  flex-grow: 1;

  &:first-child {
    border-left: 0;
  }

  svg {
    fill: #333;
  }

  &:hover {
    background: darken(@bg-color, 2%);

    svg {
      fill: #000;
    }
  }
}

// REPORTS
// =======

.checklist-report {
  padding: 20px 0;
}

.checklist-report-header {
  display: flex;
  justify-content: space-between;
}

.checklist-report-metadatas {
  flex: 10;
  align-self: center;
  font-family: @font-sans-serif;
  font-size: 20px;

  p {
    margin: 0 8px;
  }
}

.checklist-report-rating {
  position: relative;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  flex-grow: 1;
}

.checklist-report-icon {
  display: block;
  margin: 10px auto;
  width: @report-icon-size;
  height: @report-icon-size;
}

.checklist-report-icon svg, .checklist-report-icon i {
  width: @report-icon-size;
  height: @report-icon-size;
  font-size: @report-icon-size;
}

.svg-spinner {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.checklist-percentage {
  position: absolute;
  font-size: 14px;
  top: @report-icon-size/2 + 10;
  left: 0;
  right:0;
  text-align: center;
}

.checklist-report-rerun {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .8;
  cursor: pointer;
}

.checklist-report-rerun:hover {
  opacity: 1;
}

.checklist-report-rerun svg {
  width: 20px;
  height: 20px;
}

.checklist-report-from-cache .checklist-report-rerun {
  display: block;
}

// Show report details (only in toc view)
.checklist-toggle-report-details {
  display: none;
}

.checklist-statements {
  margin: 20px 0;

  h3 {
    color: #999;
    font-size: 14px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.checklist-statements-group ul {
  background: #fff;
  border: 1px solid @border-color;
  border-radius: 5px;
}

.checklist-statement {
  font-size: 15px;
  padding: 0 2px 0 10px;
  margin: 0;
  position: relative;
  min-height: 30px;
  display: flex;

  &:hover .checklist-statement-btn {
    visibility: visible;
  }
}

.checklist-statement + .checklist-statement {
  border-top: 1px solid @border-color;
}

.checklist-statement-msg {
  padding-top: 5px;
  flex: 1000;
}

.checklist-statement-count {
  color: #fff;
  background: #999;
  font-size: 12px;
  border-radius: 8px;
  padding: 2px 4px;
  margin-left: 2px;
}

.checklist-statement-btn {
  flex: 1;
  margin: 0;
  padding: 4px 6px;
  border: none;
  border-left: 1px solid @border-color;
  background: none;
  visibility: hidden;
  cursor: pointer;

  svg {
    fill: #999;
    width: 16px;
    height: 16px;
    padding-top: 2px;
  }

  &:hover {
    svg {
      fill: #000;
    }
  }
}

.checklist-rejections {
  display: none;
}

.checklist-rejections-list {
  list-style: none;
  margin: 0 0 10px 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #000;
}

.checklist-rejection {
  list-style: none;
  margin: 4px 0;
  padding: 0;

  svg {
    width: 12px;
    height: 12px;
  }
}

.checklist-marker:before {
  font-family: @font-sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  padding: 2px 4px;
  margin: 4px;
  content: attr(data-checklist-marker-name);
  background: @marker-bg-color;
  border: 1px solid darken(@marker-bg-color, 10%);
  color: @marker-color;
  border-radius: 5px;
}

.checklist-help {
  display: none;
}

.checklist-settings {
  p {
    font-size: 14px;
  }
}

// TOC
// ===

.checklist-toc-view-contents {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  padding: 30px 0;
}

.checklist-toc-stats {
  list-style: none;
  padding: 0;
  margin: 30px 0;
  text-align: center;
  li {
    padding: 10px;
    margin: 6px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    display: none;
    &.visible {
      display: inline-block;
    }
    svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

.checklist-toc-heading {
  border-top: 1px solid darken(@border-color, 10%);
  border-bottom: 1px solid darken(@border-color, 10%);
  padding: 10px 0;
  color: #999;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
}

.checklist-toc {
  padding: 0;
}

.checklist-toc-section {
  margin-top: 40px;
  list-style: none;
}

.checklist-toc-section-heading {
  font-size: 1.2em;
  color: #999;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

.checklist-toc-section-contents {
  padding-left: 20px;
}

.checklist-toc-entry {
  list-style: none;
  border: 1px solid #eee;
  margin-top: 40px;
  background: #fff;
  box-shadow: 0px 0px 8px #e3e3e3;

  .checklist-toolbar {
    border: none;
    border-left: 1px solid @border-color;
  }

  .checklist-report-rating {
    height: 95px;
  }

  .checklist-rating-text {
    display: none;
  }
}

.checklist-toc-entry-header {
  border-bottom: 1px solid @border-color;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #888;

  svg {
    fill: #666;
  }
}

.checklist-toc-entry-brand {
  padding: 8px;
}

.checklist-toc-entry-contents {
  padding: 0 20px;
}

.checklist-toc-entry-footer a {
  border-top: 1px solid @border-color;
  font-size: 14px;
  color: #888;
  text-align: center;
  padding: 10px;

  svg {
    fill: #666;
  }
}

.checklist-toc-entry {
  .checklist-toggle-report-details {
    visibility: hidden;
    display: block;
  }
  &.checklist-report-with-details .checklist-toggle-report-details {
    visibility: visible;
  }

  .checklist-toggle-report-details-show {
    display: block;
  }
  .checklist-report-details, .checklist-toggle-report-details-hide {
    display: none;
  }

  &.checklist-details-visible {
    .checklist-toggle-report-details-show {
      display: none;
    }
    .checklist-report-details, .checklist-toggle-report-details-hide {
      display: block;
    }
  }
}

.checklist-report-source-failed {
  display: none;
}

.checklist-toc-entry.checklist-report-failed {
  background: repeating-linear-gradient(-45deg, #ddd, #ddd 15px, #eee 15px, #eee 30px);

  .checklist-percentage, .checklist-toc-entry-footer {
    display: none;
  }

  .checklist-report-source-failed {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ddd;
    border-radius: 5px;
  }

  .checklist-report-retry {
    display: block;
    margin: 10px auto 0;
    width: 100px;
  }
}

// GENERIC RULES
// =============

.hidden {
  display: none;
}

.visible {
  display: block;
}

.checklist-toggle-open-parent:after {
  content: " \25B6";
  font-size: .9em;
  margin-left: 4px;
}

.open > .checklist-toggle-open-parent:after {
  content: " \25BC";
}

.checklist-collapsed {
  display: none;
}

.open > .checklist-collapsed {
  display: block;
}

.checklist-icon-box {
  display: flex;
  align-items: center;
  margin: 10px auto;

  svg {
    margin-right: 6px;
  }
}
