@bg-color: #f7f7f7;
@border-color: #dde1e4;
@font-sans-serif: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
@font-serif: Georgia, "DejaVu Serif", Norasi, serif;
@link-color: #333;
@marker-bg-color: #ddd;
@marker-color: #666;
@menu-height: 50px;
@pane-width: 320px;
@report-icon-size: 48px;
@z-index: 10000;
