body.checklist-visible {
  margin-right: 240px !important;
  position: relative;
}

.checklist-pane {
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #eee;
  display: none;
  min-width: 200px;
  width: 0%;
  transition: width .8s ease;
  z-index: 10000;
  overflow-y: auto;
}

.checklist-visible .checklist-pane {
  display: block;
}

.checklist-indicators span {
  font-weight: bold;
}

.checklist-buttons {
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.checklist-rejections {
  display: none;
}

.checklist-rejections.visible {
  display: block;
}

.checklist-toggle-open-parent:after {
  content: " \25B6";
  font-size: .9em;
}

.open > .checklist-toggle-open-parent:after {
  content: " \25BC";
}

.checklist-collapsed {
  display: none;
}

.open > .checklist-collapsed {
  display: block;
}

.checklist-statement.hidden {
  display: none;
}

.checklist-marker:before {
  content: attr(data-checklist-marker-name);
  background: #ccc;
}
