body.checklist-visible {
    margin-right: 240px;
    position: relative;
}

.checklist-ui {
    width: 200px;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eee;
    display: none;
}

.checklist-visible .checklist-ui {
    display: block;
}
