body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#links {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background: #f7f7f7;
  border-bottom: #dde1e4 1px solid;
}

#main {
  display: flex;
  align-items: flex-start;
}

#contents {
  max-width: 700px;
  display: block;
  margin-left: 40px 0 40px;
  font-size: 120%;
  flex: 1;
}

#pane-container {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  max-width: 360px;
  margin-right: 20px;
}

.checklist-settings {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.toc-entry {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.toc-entry a {
  color: #000;
  text-decoration: none;
}

.toc-entry a:hover {
  color: darkblue;
}

.toc-entry h3, .toc-entry p {
  margin: 5px;
}
