body {
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
}

#container {
  width: 800px;
  display: block;
  margin: 0 auto;
  font-size: 120%;
  flex: 1;
}

#pane-container {
  position: relative;
}

#checklist-pane {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 320px;
  margin-left: 20px;
}

.checklist-settings {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#links {
  padding: 20px;
}

.toc-entry {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.toc-entry a {
  color: #000;
  text-decoration: none;
}

.toc-entry a:hover {
  color: darkblue;
}

.toc-entry h3, .toc-entry p {
  margin: 5px;
}
